<div class="pt-5 mx-auto">
  <div class="container-fluid" *ngIf="userRole!=='Administrator'">

    <div class="row justify-content-center animated rotateInDownLeft" style="margin-top: 25px">
      <div class="col" *ngFor="let item of data; let id= index;" style="padding-top: 10px;">
        <div class="card" style="margin-bottom: 10px;
          cursor: pointer;" (click)="updateleadLogTypeSelector(id)" id="counterCard">
          <div class="card-body text-center" style="background-color:
            rgba(255,255,255,0.4);">
            <div class="h2-responsive" style="color: rgb(3, 0, 34); font-size:
              1.5rem;">
              <strong>{{item.Count}}</strong>
            </div>
            <span class="card-text" style="color: #32375f">
              <strong>{{item.LeadStatus}}</strong>
            </span>
          </div>
          <div class="" [ngClass]="{
            'badge-default2':item.LeadStatus==='New' ,
            'badge-primary2':item.LeadStatus==='InProcess',
            'badge-warning2':item.LeadStatus==='Won',
            'badge-success2':item.LeadStatus==='Lost',
            'badge-grey2':item.LeadStatus==='Hold'
            }">
          </div>
        </div>
      </div>
      <div class="col animated slideInRight" style="margin-top: 10px;" *ngIf="chartVisible">
        <div class="card hoverable" style="margin-bottom: 10px;
          cursor: pointer;" (click)="updateleadLogTypeSelector(id)">
          <div class="card-body text-center" style="display: block;
            ;background-color: rgba(255,255,255,0.4);">
            <canvas mdbChart [chartType]="chartType" [datasets]="chartDatasets" [labels]="chartLabels" [colors]="chartColors" [options]="chartOptions"
              [legend]="true" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
            </canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="row animated rotateInDownLeft" style="display: flex;
      flex-direction: row; flex-wrap: wrap; justify-content: space-around;
      align-items: center; padding-left: 10px; padding-right: 10px;">
      <mat-form-field style="margin-right: 5px">
        <input matInput placeholder="Search here" (keyup)='updateFilter()' [(ngModel)]="val">
      </mat-form-field>
      <mat-form-field style="margin-right: 5px">
        <mat-select placeholder="Searching In" name="SearchHere" (selectionChange)="updateFilter()" [(ngModel)]="searchIn" ngDefaultControl>

          <mat-option value="Multiple">Multiple</mat-option>
          <mat-option value="Priority">Priority</mat-option>
          <mat-option value="Category">Category</mat-option>
          <mat-option value="Client">Client</mat-option>
          <mat-option value="Project">Project</mat-option>
          <mat-option value="Subject">Subject</mat-option>
          <mat-option value="LeadNo">LeadNo</mat-option>
          <mat-option value="Description">Description</mat-option>
          <mat-option value="Team">Team</mat-option>
          <mat-option value="Company">Company</mat-option>
          <mat-option value="ContactPerson">Contact Person</mat-option>
          <mat-option value="ContactNumber">Contact Number</mat-option>
          <mat-option value="EmailID">EmailID</mat-option>
          <mat-option value="AssignByName">Assign By</mat-option>
          <mat-option value="AssignToName">Assign To</mat-option>
          <mat-option value="InProcessByName">InProcess By</mat-option>
          <mat-option value="CreatedByName">Created By</mat-option>
          <mat-option value="HoldByName">Hold By</mat-option>
          <mat-option value="WonByName">Won By</mat-option>
          <mat-option value="LostByName">Lost By</mat-option>

        </mat-select>
      </mat-form-field>
      <mat-form-field style="margin-right: 5px">
        <mat-select placeholder="Sorting On" name="SortHere" (selectionChange)="updateFilter()" [(ngModel)]="valSort" ngDefaultControl>

          <mat-option value="">None</mat-option>

          <mat-option value="LeadNo">LeadNo</mat-option>

          <mat-option value="Priority">Priority</mat-option>

          <mat-option value="Subject">Subject</mat-option>

          <mat-option value="LeadDescription">Description</mat-option>
          <mat-option value="CreatedDate">Creation Date</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="margin-right: 5px">
        <mat-select placeholder="Sort Type" name="SortType" (selectionChange)="updateFilter()" [(ngModel)]="ascSort" ngDefaultControl>

          <mat-option value=true>Ascending</mat-option>

          <mat-option value=false>Descending</mat-option>

        </mat-select>
      </mat-form-field>
      <mat-form-field style="margin-right: 5px">

        <mat-select placeholder="Allocation" name="SortType" (selectionChange)="updateFilter()" [(ngModel)]="allocationType" [disabled]="dashboardState==='byme'"
          ngDefaultControl>

          <mat-option value="Team">Team</mat-option>

          <mat-option value="OnlyMe">My Leads Only</mat-option>

          <mat-option value="ExceptMe">Team but Except Me</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="condesed_style">
        <mat-checkbox color="primary" matTooltip="Grid
        view of Leads" [(ngModel)]="condensedView">Condensed View</mat-checkbox>
        <span style="margin-left: 10px !important; display: inline;">
          <i class="fa fa-bar-chart" matTooltip="Click to
            see Chart" (click)="toggleChart()" style="margin-left: 10px !important;"></i>

          <i class="fa fa-refresh" matTooltip="Clear and
          refresh" (click)="clearSerchCriteria()" style="margin-left: 10px !important;"></i>
        </span>
      </div>

    </div>


    <!-- </div> -->

    <div class="row justify-content-center animated slideInUp">
      <div class="col">
        <div class="mx-auto">
          <div class="container-fluid" *ngFor="let src of source; let i=
            index;">

            <div class="row" *ngIf="this.leadLogTypeSelector===src.status">
              <div class="col">
                <div>
                  <div class="card-header" style="border-radius: 5px;
                    background-color: white; text-align: center; font-weight:
                    bold; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px
                    10px 0 rgba(0, 0, 0, 0.12);">
                    <strong>{{src.status}}</strong>
                    <mat-progress-bar mode="indeterminate" *ngIf="loadingIndicator" color="primary" class="z-depth-1" style="height: 3px; position: absolute; top: 0; right:
                      0;"></mat-progress-bar>
                  </div>

                  <div class="" *ngIf="!condensedView">
                    <div id="cardPanel" style="display: flex; flex-direction:
                      row; flex-wrap: wrap; margin: 10px; justify-content:
                      center; align-items: center; align-content: flex-start">
                      <div class="row leadBody" *ngIf="src.data.length==0">No data found</div>
                      <!-- Start -->
                      <div class="card" *ngFor="let data of
                        src.data; let p= index;" style="margin: 5px" [ngClass]="{
                        'highPriority': data.Priority === 'High',
                        'mediumPriority': data.Priority === 'Medium',
                        'lowPriority': data.Priority === 'Low'
                        }" style="width: 100%; margin-top: 15px">
                        <div class="card-body">
                          <div style="font-weight: bold; display: flex;
                            flex-direction: row; flex-wrap: wrap;
                            justify-content: space-between">
                            <div style="display: flex; flex-direction: row;
                              flex-wrap: wrap; justify-content: flex-start">
                              <div [ngClass]="{
                                'highPriorityBackground': data.Priority ===
                                'High',
                                'mediumPriorityBackground': data.Priority ===
                                'Medium',
                                'lowPriorityBackground': data.Priority === 'Low'
                                }">
                                {{data.LeadNo}}
                              </div>
                              <div [ngClass]="{
                                'highPriorityBorder': data.Priority === 'High',
                                'mediumPriorityBorder': data.Priority ===
                                'Medium',
                                'lowPriorityBorder': data.Priority === 'Low'
                                }">{{data.Subject}}</div>
                            </div>
                            <div style="position: absolute; top: 0;right: 0;margin: 0.5rem 0.5rem!important;">
                              <div class="text-right" matTooltip="Category" style="float: right;" *ngIf="data.LeadCategory===1">
                                <i class="fa fa-diamond mr-1 pulse" *ngIf="data.LeadCategory===1"></i>
                              </div>
                              <div class="text-right" matTooltip="Category" style="float: right;" *ngIf="data.LeadCategory===2">
                                <i class="fa fa-diamond mr-1 pulse"></i>
                                <i class="fa fa-diamond mr-1 pulse"></i>
                              </div>
                              <div class="text-right" matTooltip="Category" style="float: right;" *ngIf="data.LeadCategory===3">
                                <i class="fa fa-diamond mr-1 pulse"></i>
                                <i class="fa fa-diamond mr-1 pulse"></i>
                                <i class="fa fa-diamond mr-1 pulse"></i>
                              </div>
                            </div>
                          </div>

                          <div class="card-text" style="display:
                            inline;text-align: justify; text-justify:
                            inter-word; border-radius: 5px">{{data.LeadDescription}}</div>
                          <div class="card-text" style="display: flex;
                            flex-direction: row; flex-wrap: wrap;
                            justify-content: space-between; margin-top: 5px;">
                            <div style="display: flex; flex-direction: row;
                              flex-wrap: wrap; justify-content: flex-start">
                              <div matTooltip="Lead assigned to team" (click)="demoBasic.show(); updateModal(data);" [ngClass]="{
                                'highPriorityBorder': data.Priority === 'High',
                                'mediumPriorityBorder': data.Priority ===
                                'Medium',
                                'lowPriorityBorder': data.Priority === 'Low'
                                }">
                                Team:
                                <strong>{{data.TeamName | titlecase}}</strong>
                              </div>
                              <div matTooltip="Lead assigned to person" (click)="demoBasic.show(); updateModal(data);" [ngClass]="{
                                'highPriorityBorder': data.Priority === 'High',
                                'mediumPriorityBorder': data.Priority ===
                                'Medium',
                                'lowPriorityBorder': data.Priority === 'Low'
                                }">
                                Assign To:
                                <strong>{{ data.AssignToName | titlecase}}</strong>
                              </div>
                              <div matTooltip="Lead created by" (click)="demoBasic.show(); updateModal(data);" [ngClass]="{
                                'highPriorityBorder': data.Priority === 'High',
                                'mediumPriorityBorder': data.Priority ===
                                'Medium',
                                'lowPriorityBorder': data.Priority === 'Low'
                                }">
                                Created By:
                                <strong>{{ data.NewByName | titlecase}}</strong>
                              </div>
                              <div *ngIf="data.Message !== null" matTooltip="Last communication" (click)="openLeadMessage(i,p)" [ngClass]="{
                                'highPriorityBorder': data.Priority === 'High',
                                'mediumPriorityBorder': data.Priority ===
                                'Medium',
                                'lowPriorityBorder': data.Priority === 'Low'
                                }">
                                {{data.Message.OperationByName | titlecase}}: {{data.Message.MessageLog}} -
                                <time> {{data.Message.OperationDate | date : 'medium' }} </time>
                              </div>
                              <div matTooltip="Time after creation of Lead" (click)="demoBasic.show(); updateModal(data);" [ngClass]="{
                                'highPriorityBorder': data.Priority === 'High',
                                'mediumPriorityBorder': data.Priority ===
                                'Medium',
                                'lowPriorityBorder': data.Priority === 'Low'
                                }">
                                <time>
                                  <strong>{{ data.NewDate | date : 'medium'}}</strong>
                                </time>
                              </div>
                            </div>
                            <div>
                              <div style="right: 15px; bottom: 15px; position:
                                absolute;display: flex; flex-direction: row;
                                flex-wrap: wrap; justify-content: flex-end">
                                <div (click)="openLeadMessage(i,p)" style="background:
                                  linear-gradient(40deg,#45cafc,#303f9f)!important;
                                  border-radius: 50%; box-shadow: 0px 7px 15px
                                  #4f557e; margin-right: 5px">
                                  <i style="align-self: center; color: white;
                                    padding: 10px;" class="fa fa-comment"></i>
                                </div>
                                <div style="background:
                                  linear-gradient(40deg,#ff6ec4,#7873f5)!important;border-radius:
                                  50%; box-shadow: 0px 7px 15px #4f557e;" mat-icon-button [matMenuTriggerFor]="menu">
                                  <i style="align-self: center; color: white;
                                    padding: 10px 15px;" class="fa
                                    fa-ellipsis-v"></i>
                                </div>

                                <mat-menu class="actionsButton" #menu="matMenu">
                                  <button class="actionsButton" mat-menu-item [hidden]="!(src.status=== 'New' &&
                                    dashboardState==='myleads')" (click)="processLead(data.Oid,2)">
                                    <span>Take Lead</span>
                                  </button>
                                  <button class="actionsButton" mat-menu-item [hidden]="!(((src.status=== 'Won' ||
                                    src.status==='Lost') &&
                                    userRole==='Manager') || (src.status==='Won'
                                    && userRole==='User' &&
                                    dashboardState==='myleads') ||
                                    ((src.status=== 'Won' ||
                                    src.status==='Lost') && userRole==='User' &&
                                    dashboardState==='myleads' &&
                                    Oid===data.TeamLeader.toString()))" (click)="processLead(data.Oid,1)">
                                    <span>Re-New</span>
                                  </button>
                                  <button class="actionsButton" mat-menu-item [hidden]="!( (src.status==='New' ||
                                    src.status==='InProcess') &&
                                    (userRole==='Manager' ||
                                    (dashboardState==='myleads' &&
                                    userRole==='User' &&
                                    Oid===data.TeamLeader.toString())))" (click)="processLead(data.Oid,3)">
                                    <span>Won</span>
                                  </button>
                                  <button class="actionsButton" mat-menu-item [hidden]="!((userRole==='Manager' ||
                                    (src.status==='InProcess' &&
                                    (dashboardState==='myleads' &&
                                    userRole==='User'))) && src.status!=='Lost'
                                    && src.status!=='Hold')" (click)="processLead(data.Oid,4)">
                                    <span>Lost</span>
                                  </button>
                                  <button class="actionsButton" mat-menu-item [hidden]="!(userRole==='Manager' ||
                                    (dashboardState==='myleads' &&
                                    userRole==='User' &&
                                    Oid===data.TeamLeader.toString()) &&
                                    (src.LeadStatus==='New' ||
                                    src.LeadStatus==='InProcess' ||
                                    src.LeadStatus==='Won'))" (click)="processLead(data.Oid,5)">
                                    <span>Hold</span>
                                  </button>
                                  <mat-divider></mat-divider>
                                  <button class="actionsButton" mat-menu-item style="font-style: oblique" [hidden]="(src.status==='Hold' ||
                                    src.status==='Lost' ||
                                    dashboardState==='byme') && Oid !==
                                    TeamLeader" [matMenuTriggerFor]="assignMenu">
                                    <span style="margin-right: 10px">Assign Lead</span>
                                  </button>
                                  <button class="actionsButton" mat-menu-item style="font-style: oblique" [hidden]="src.status==='Lost' ||
                                    src.status==='Hold'" [matMenuTriggerFor]="priorityMenu">
                                    <span style="margin-right: 10px">Change Priority
                                    </span>
                                  </button>
                                  <button class="actionsButton" mat-menu-item style="font-style: oblique" [hidden]="src.status==='Lost' ||
                                    src.status==='Hold'" [matMenuTriggerFor]="categoryMenu">
                                    <span style="margin-right: 10px">Change Category
                                    </span>
                                  </button>
                                  <button class="actionsButton" mat-menu-item style="font-style: oblique; color: blue" (click)="updateAlertModal(i, p);
                                    alertModal.show()">
                                    <span style="margin-right: 10px">Add Reminder
                                    </span>
                                    <i class="fa fa-bell" aria-hidden="true"></i>
                                  </button>
                                  <button class="actionsButton" mat-menu-item style="font-style: oblique" (click)="NewLeadMessage(i,p)">
                                    <span style="margin-right: 10px">Message</span>
                                    <i class="fa fa-comment"></i>
                                  </button>
                                </mat-menu>
                                <mat-menu #priorityMenu="matMenu">
                                  <button class="actionsButton" mat-menu-item (click)="changePriority(i, p, 'High')">High</button>
                                  <button class="actionsButton" mat-menu-item (click)="changePriority(i, p, 'Medium')">Medium</button>
                                  <button class="actionsButton" mat-menu-item (click)="changePriority(i, p, 'Low')">Low</button>
                                </mat-menu>
                                <mat-menu #assignMenu="matMenu">
                                  <button class="actionsButton" mat-menu-item *ngFor="let item of data.TeamMembers; let
                                    id= index;" (click)="assignLead(i, p,
                                    item.UserID)">{{item.UserName | titlecase}}</button>
                                </mat-menu>
                                <mat-menu #categoryMenu="matMenu">
                                  <button class="actionsButton" mat-menu-item (click)="changeCategory(i, p, 1)">
                                    <i class="fa fa-diamond mr-1"></i>
                                  </button>
                                  <button class="actionsButton" mat-menu-item (click)="changeCategory(i, p, 2)">
                                    <i class="fa fa-diamond mr-1"></i>
                                    <i class="fa fa-diamond mr-1"></i>
                                  </button>
                                  <button class="actionsButton" mat-menu-item (click)="changeCategory(i, p, 3)">
                                    <i class="fa fa-diamond mr-1"></i>
                                    <i class="fa fa-diamond mr-1"></i>
                                    <i class="fa fa-diamond mr-1"></i>
                                  </button>
                                </mat-menu>
                              </div>
                            </div>
                          </div>

                          <div class="card-text" style="display: inline;
                            flex-direction: row; flex-wrap: wrap;
                            justify-content: space-between; 
                            margin-right: 50px; cursor: default;">
                            <span style="font-weight: bold" [ngClass]="{
                            'highPriorityText': data.Priority === 'High',
                            'mediumPriorityText': data.Priority === 'Medium',
                            'lowPriorityText': data.Priority === 'Low'
                          }">{{data.Priority}}</span> ♦ {{data.ClientName}} ♦ {{data.EmailID}} ♦ {{data.ContactPerson1}} ♦
                            {{data.ContactNumber1}}
                          </div>


                        </div>
                      </div>
                      <!-- Stop -->

                    </div>
                  </div>

                  <div class="card hoverable animated slideInUp" *ngIf="condensedView">
                    <ngx-datatable #table class="material" [rows]="src.data" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                      [rowHeight]="50" [reorderable]="'true'" [limit]="7" [scrollbarH]="true" [loadingIndicator]="loadingIndicator">
                      <ngx-datatable-column name="" [width]="80" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">

                          <a class="fa fa-reply" (click)="selectRow(row)"></a>&nbsp;
                          <a class="fa fa-link" data-target="#basicExample" (click)="demoBasic.show(); updateModal(row);"></a>&nbsp;
                        </ng-template>

                      </ngx-datatable-column>
                      <ngx-datatable-column name="Lead" prop="LeadNo"></ngx-datatable-column>
                      <ngx-datatable-column name="Subject" prop="Subject" [width]="300">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                          <strong style="color: #32375f">{{value }}</strong>
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Description" prop="LeadDescription" [width]="400"></ngx-datatable-column>
                      <ngx-datatable-column name="Team" prop="TeamName" [width]="180">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                          {{value | titlecase}}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Created By" prop="NewByName">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                          <div class="text-center" style="border: 1px solid
                            rgba(255, 255, 255, 0); border-radius: 5px;
                            background-color: beige">
                            {{value | titlecase}}
                          </div>
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Created On" prop="NewDate">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                          <time>{{value | timeAgo}}</time>
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Assign To" prop="AssignToName">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                          <div class="badge blue text-center" style="border: 1px
                            solid rgba(255, 255, 255, 0); border-radius: 5px;
                            background-color: beige">
                            {{value | titlecase}}
                          </div>
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Assign By" prop="AssignByName">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                          {{value | titlecase}}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Assign On" prop="AssignDate">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                          <time>{{value | timeAgo}}</time>
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Company" prop="CompanyName">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                          {{value | titlecase}}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Project" prop="ProjectName">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                          {{value | titlecase}}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Priority" prop="Priority"></ngx-datatable-column>
                      <!-- <ngx-datatable-column name="Last Update By" prop="Message.OperationByName">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                          {{value | titlecase}}
                        </ng-template>
                      </ngx-datatable-column> -->
                      <ngx-datatable-column name="Last Update On" prop="Message.OperationDate">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                          <time>{{value | timeAgo}}</time>
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column [width]="150" name="Last Update" prop="Message.MessageLog"></ngx-datatable-column>
                      <ngx-datatable-column name="InProcess By" prop="InProcessByName">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                          {{value | titlecase}}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="InProcess On" prop="InProcessDate">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                          {{value | timeAgo}}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Lost By" prop="LostByName">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                          {{value | titlecase}}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Lost On" prop="LostDate">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                          {{value | timeAgo}}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Won By" prop="WonByName">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                          {{value | titlecase}}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Won On" prop="WonDate">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                          {{value | timeAgo}}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Hold By" prop="HoldByName">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                          {{value | titlecase}}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Hold On" prop="HoldDate">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                          {{value | timeAgo}}
                        </ng-template>
                      </ngx-datatable-column>
                    </ngx-datatable>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pt-5 mx-auto animated zoomIn" *ngIf="userRole==='Administrator'">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="card-text">
              <h1 class="h3-responsive">
                <i class="fa fa-cog"></i>&nbsp;Welcome to Admin Panel, {{userName | titlecase}}
              </h1>
              <hr>

              <div class="card-text">

                <div class="row" style="margin-bottom: 15px;">
                  <div class="col">

                    <div class="dropdown-item waves-light" [routerLink]="['company']" routerLinkActive="animated" mdbWavesEffect>
                      <div class="card-body">
                        <a>
                          <i class="fa fa-building" aria-hidden="true"></i>
                          Company</a>
                      </div>
                    </div>

                  </div>

                  <div class="col">

                    <div [routerLink]="['project']" class="dropdown-item
                      waves-light" routerLinkActive="animated" mdbWavesEffect>
                      <div class="card-body">
                        <a>
                          <i class="fa fa-industry" aria-hidden="true"></i>
                          Project</a>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="row" style="margin-bottom: 15px;">
                  <div class="col">

                    <div [routerLink]="['user']" class="dropdown-item
                      waves-light" mdbWavesEffec>
                      <div class="card-body">
                        <a routerLinkActive="animated">
                          <i class="fa fa-user-circle" aria-hidden="true"></i>
                          User</a>
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div [routerLink]="['team']" class="dropdown-item
                      waves-light" routerLinkActive="animated" mdbWavesEffect>
                      <div class="card-body">
                        <a>
                          <i class="fa fa-cubes" aria-hidden="true"></i>
                          Team</a>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="row" style="margin-bottom: 25px;">
                  <div class="col">
                    <div [routerLink]="['lead-type']" class="dropdown-item
                      waves-light" routerLinkActive="animated" mdbWavesEffect>
                      <div class="card-body">
                        <a>
                          <i class="fa fa-ticket" aria-hidden="true"></i>
                          Lead Type</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="divider dropdown-divider"></div>

            <div class="" [routerLink]="['create-lead']" class="dropdown-item
              waves-light" routerLinkActive="animated" mdbWavesEffect>
              <div class="card-body">
                <a>
                  <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Create Lead
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- <button type="button" class="btn btn-primary relative waves-light"  mdbWavesEffect>Launch demo modal</button> -->
<div mdbModal #alertModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myalertModalLabel"
  aria-hidden="true" style="overflow: auto">
  <div class="modal-dialog modal-side modal-top-right modal-notify modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="alertModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title text-white w-100" id="myModalLabel">Create Alert: {{event.LeadNo}}
        </h4>
      </div>
      <div class="modal-body text-center">
        <i class="fa fa-4x fa-bell text-info animated swing pb-1"></i>
        <br>
        <p class="card-text">
          {{event.Subject}}
        </p>
        <input type="text" class="form-control" placeholder="Add Information" [(ngModel)]="event.Remarks" autofocus="true">
        <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="event.AlertDate" [altInput]="true" [convertModelValue]="true"
          [enableTime]="true" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Click to set date-time">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info waves-light" aria-label="Close" (click)="alertModal.hide()" mdbWavesEffect>Close</button>
        <button type="button" class="btn btn-info relative waves-light" (click)="createAlert(); alertModal.hide()" mdbWavesEffect>Create Alert</button>
      </div>
    </div>
  </div>
</div>


<div mdbModal #demoBasic="mdb-modal" class="modal fade" id="basicExample" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" style="overflow: auto">
  <div class="modal-dialog modal-fluid modalsize" role="document">
    <div class="modal-content">
      <div class="modal-header" [ngClass]="{
        'moddef':modalData.LeadStatus=='1',
        'modpri':modalData.LeadStatus=='2',
        'modwar':modalData.LeadStatus=='3',
        'modsuc':modalData.LeadStatus=='4',
        'modgre':modalData.LeadStatus=='5'
        }">
        <h4 style="color: rgb(69, 84, 92); font-weight: bold;" class="modal-title" id="myModalLabel">#{{modalData.LeadNo}}:&nbsp;
          <strong>{{modalData.Subject}}</strong>
          <br>
        </h4>

        <button type="button" class="close" data-dismiss="modal" aria-label="Lost" (click)="demoBasic.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body" style="height: 70%; overflow-y: scroll;
        justify-content: center">

        <div style="padding-left: 10px;color: rgb(49, 49, 49);">
          <span> Created By : </span>{{ modalData.NewByName | titlecase}} &nbsp; {{ modalData.NewDate | timeAgo}}
          <br>
          <span *ngIf="modalData.AssignToName !== ''">Assignto&nbsp;:&nbsp;&nbsp;{{ modalData.AssignToName | titlecase}}</span>
        </div>
        <br>
        <mat-tab-group>

          <mat-tab label="Ticket Details">
            <div class="card-body" style="margin: 10px 5px 5px;border: 0.5px solid
                snow;">
              <table class="table table-sm table-responsive">

                <thead style="background-color: #d0f1fd;">
                  <tr class="fontclass">
                    <th></th>
                    <th>
                      <span class="space">Create</span>
                    </th>
                    <th>
                      <span [ngClass]="{'space': modalData.AssignByName == ''}">Assign</span>
                    </th>
                    <th>
                      <span [ngClass]="{'space': modalData.InProcessByName == ''}">InProcess</span>
                    </th>
                    <th>
                      <span [ngClass]="{'space': modalData.WonByName == ''}">Won</span>
                    </th>
                    <th>
                      <span [ngClass]="{'space': modalData.LostByName == ''}">Lost</span>
                    </th>
                    <th>
                      <span [ngClass]="{'space': modalData.HoldByName == ''}">Hold</span>
                    </th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>
                      <div>Date&nbsp;:&nbsp;</div>
                    </td>
                    <td>
                      <div>{{modalData.NewDate | date }}</div>
                    </td>
                    <td>
                      <div *ngIf="modalData.AssignByName == ''">
                        <span class="space"></span>
                      </div>
                      <div *ngIf="modalData.AssignByName !== ''">{{modalData.AssignDate | date }}</div>
                    </td>
                    <td>
                      <div *ngIf="modalData.InProcessByName == ''">
                        <span class="space"></span>
                      </div>
                      <div *ngIf="modalData.InProcessByName !== ''">{{modalData.InProcessDate | date }}</div>
                    </td>
                    <td>
                      <div *ngIf="modalData.WonByName == ''">
                        <span class="space"></span>
                      </div>
                      <div *ngIf="modalData.WonByName !== ''">{{modalData.WonDate | date }}</div>
                    </td>
                    <td>
                      <div *ngIf="modalData.LostByName == ''">
                        <span class="space"></span>
                      </div>
                      <div *ngIf="modalData.LostByName !== ''">{{modalData.LostDate | date }}</div>
                    </td>
                    <td>
                      <div *ngIf="modalData.HoldByName == ''">
                        <span class="space"></span>
                      </div>
                      <div *ngIf="modalData.HoldByName !== ''">{{modalData.HoldDate | date }}</div>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div>Time&nbsp;:&nbsp;</div>
                    </td>
                    <td>
                      <div>{{modalData.NewDate | date: 'shortTime'}}</div>
                    </td>
                    <td>
                      <div *ngIf="modalData.AssignByName == ''">
                        <span class="space"></span>
                      </div>
                      <div *ngIf="modalData.AssignByName !== ''">{{modalData.AssignDate | date: 'shortTime'}}</div>
                    </td>
                    <td>
                      <div *ngIf="modalData.InProcessByName == ''">
                        <span class="space"></span>
                      </div>
                      <div *ngIf="modalData.InProcessByName !== ''">{{modalData.InProcessDate | date: 'shortTime'}}</div>
                    </td>
                    <td>
                      <div *ngIf="modalData.WonByName == ''">
                        <span class="space"></span>
                      </div>
                      <div *ngIf="modalData.WonByName !== ''">{{modalData.WonDate | date: 'shortTime'}}</div>
                    </td>
                    <td>
                      <div *ngIf="modalData.LostByName == ''">
                        <span class="space"></span>
                      </div>
                      <div *ngIf="modalData.LostByName !== ''">{{modalData.LostDate | date: 'shortTime'}}</div>
                    </td>
                    <td>
                      <div *ngIf="modalData.HoldByName == ''">
                        <span class="space"></span>
                      </div>
                      <div *ngIf="modalData.HoldByName !== ''">{{modalData.HoldDate | date: 'shortTime'}}</div>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div>By&nbsp;:&nbsp;</div>
                    </td>
                    <td>
                      <div>{{modalData.NewByName | titlecase}}</div>
                    </td>
                    <td>
                      <div *ngIf="modalData.AssignByName == ''">
                        <span class="space"></span>
                      </div>
                      <div *ngIf="modalData.AssignByName !== ''">{{modalData.AssignByName | titlecase}}</div>
                    </td>
                    <td>
                      <div *ngIf="modalData.InProcessByName == ''">
                        <span class="space"></span>
                      </div>
                      <div *ngIf="modalData.InProcessByName !== ''">{{modalData.InProcessByName | titlecase}}</div>
                    </td>
                    <td>
                      <div *ngIf="modalData.WonByName == ''">
                        <span class="space"></span>
                      </div>
                      <div *ngIf="modalData.WonByName !== ''">{{modalData.WonByName | titlecase}}</div>
                    </td>
                    <td>
                      <div *ngIf="modalData.LostByName == ''">
                        <span class="space"></span>
                      </div>
                      <div *ngIf="modalData.LostByName !== ''">{{modalData.LostByName | titlecase}}</div>
                    </td>
                    <td>
                      <div *ngIf="modalData.HoldByName == ''">
                        <span class="space"></span>
                      </div>
                      <div *ngIf="modalData.HoldByName !== ''">{{modalData.HoldByName | titlecase}}</div>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div *ngIf="attachment.length>0" class="attachmentstyle">
                <strong class="font-weight-bold">Attachments&nbsp;:</strong>
                <div style="display: inline;margin-left: 10px;" *ngFor="let item of attachment;">
                  <a href="http://lakshyawebapi.rlmc.in/api/Upload/UploadFiles/{{item.ta.AttchmentName}}">
                    <u>{{item.ta.AttchmentName}}</u>
                  </a>
                </div>
              </div>

            </div>

          </mat-tab>

          <mat-tab label="Contact Details">
            <div class="card" style="margin: 5px;border: 0.5px solid teal;">
              <div class="card-header" style="color: teal;font-weight: bold;">
                <i class="fa fa-address-card"></i>&nbsp;Contact Details
                <span style="float: right">
                  <a href="mailto:{{modalData.EmailID}}?Subject={{modalData.LeadNo}}%20{{modalData.Subject}}" target="_top">{{modalData.EmailID}}</a>
                </span>
              </div>
              <div class="card-body">

                <div class="row">

                  <div class="card-text col" *ngIf="modalData.ContactPerson1!== ''
                          && modalData.ContactNumber1 !== 0">
                    <span class="numberCircle">1</span>
                    <span class="font-weight-bold">&nbsp;{{modalData.ContactPerson1}}</span>
                    <br> &nbsp;{{modalData.ContactNumber1}}
                    <br>
                  </div>
                  <div class="card-text col" *ngIf="modalData.ContactPerson2!== ''
                          && modalData.ContactNumber2 !== 0">
                    <span class="numberCircle">2</span>
                    <span class="font-weight-bold">&nbsp;{{modalData.ContactPerson2}}</span>
                    <br> &nbsp;{{modalData.ContactNumber2}}
                    <br>
                  </div>
                  <div class="card-text col" *ngIf="modalData.ContactPerson3!== ''
                          && modalData.ContactNumber3 !== 0">
                    <span class="numberCircle">3</span>
                    <span class="font-weight-bold">&nbsp;{{modalData.ContactPerson3}}</span>
                    <br> &nbsp;{{modalData.ContactNumber3}}
                    <br>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Address">
            <!-- <iframe  height="100%" width="100%" [src]="mapurl"></iframe> -->
          </mat-tab>

        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
